@model OnlineShop.Web.Models.IndexViewModel
@{
    ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDiscription = Model.MetaDiscription;
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<aside id="colorlib-hero">
    <div class="flexslider">
        <ul class="slides">
            @foreach (var item in Model.slideVm)
            {
                <li style="background-image: url(@item.Image)">
                    <div class="overlay"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-md-pull-2 col-sm-12 col-xs-12 slider-text">
                                <div class="slider-text-inner">
                                    <div class="desc">
                                        <h1 class="head-1">@item.Name</h1>
                                        <h2 class="head-2">@item.Description</h2>
                                        <p class="category"><span>@item.Content</span></p>
                                        <p><a href="@item.URL" class="btn btn-primary">Chi tiết</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }

        </ul>
    </div>
</aside>
<div class="colorlib-shop">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                <h2><span>Sản phẩm nổi bật</span></h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.productHotVm)
            {
                var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(@item.ThumbnailImage);">
                            <p class="tag"><span class="new">Hot</span></p>
                            <div class="cart">
                                <p>
                                    <span><a href="@url"><i class="icon-eye"></i>Xem</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="@url">@item.Name</a></h3>
                            @if (item.PromotionPrice.HasValue == true)
                            {
                                <p class="price"><span>@item.PromotionPrice</span> <span class="sale">@item.Price@item.Unit</span> </p>
                            }
                            else
                            {
                                <p class="price"><span>@item.Price@item.Unit</span></p>
                            }
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

<div class="colorlib-shop">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center colorlib-heading">
                <h2><span>Sản phẩm mới</span></h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.productUpdateLastedVm)
            {
                var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                <div class="col-md-3 text-center">
                    <div class="product-entry">
                        <div class="product-img" style="background-image: url(@item.ThumbnailImage);">
                            @if (item.PromotionPrice.HasValue == true)
                            {
                                <p class="tag"><span class="sale">Sale</span></p>
                            }
                            else
                            {
                                <p class="tag"><span class="new">New</span></p>
                            }
                            <div class="cart">
                                <p>
                                    <span><a href="@url"><i class="icon-eye"></i>Xem</a></span>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="@url">@item.Name</a></h3>
                            @if (item.PromotionPrice.HasValue == true)
                            {
                                <p class="price"><span>@item.PromotionPrice</span> <span class="sale">@item.Price@item.Unit</span> </p>
                            }
                            else
                            {
                                <p class="price"><span>@item.Price@item.Unit</span> </p>
                            }

                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="colorlib-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center colorlib-heading">
                <h2>Tin mới nhất</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model.postVm)
            {
                var url = "/blog-detail.html" + "?postid=" + item.ID;
                <div class="col-md-4">
                    <article class="article-entry">
                        <a href="@url" class="blog-img" style="background-image: url(@item.Image);"></a>
                        <div class="desc">
                            <p class="meta"><span class="month">@item.CreateDate</span></p>                          
                            <h2><a href="@url">@item.Name</a></h2>
                            <p>@item.Description</p>
                        </div>
                    </article>
                </div>
            }
        </div>
    </div>
</div>


