@model ShopOnline.Web.Models.FooterCommon
<div id="colorlib-subscribe">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
            </div>
        </div>
    </div>
</div>
<footer id="colorlib-footer" role="contentinfo">
    <div class="container reposiveFooter">
        <div class="row row-pb-md">
            <div class="col-md-3 colorlib-widget">
                <h4>Danh mục chính</h4>
                <p>
                    <ul class="colorlib-footer-links">

                        @foreach (var item in Model.listCategoryProduct)
                        {
                            var url = "/" + item.Alias + ".pc-" + item.ID + ".html";
                            <li><a href="@url">@item.Name</a></li>
                        }
                    </ul>
                </p>
            </div>
            <div class="col-md-2 colorlib-widget">
                <h4>Thông tin</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="/basket.html">Giỏ hàng</a></li>
                        <li><a href="/checkout.html">Thanh toán</a></li>
                        <li><a href="/about.html">Gới thiệu</a></li>
                        <li><a href="/contact.html">Liên hệ</a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-4">
                <h4>Hỗ trợ trực tuyến</h4>
                <ul class="colorlib-footer-links">
                    <li>Tên: @Model.supportOnlineVm.Name</li>
                    <li>SĐT: @Model.supportOnlineVm.Mobile</li>
                    <li>Email: @Model.supportOnlineVm.Email</li>
                    <li>Skype: @Model.supportOnlineVm.Skype</li>
                    <li>Facebook: @Model.supportOnlineVm.Facebook</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Tag</h4>
                <ul class="colorlib-footer-links">
                    @foreach (var item in Model.tagVm.Take(9))
                    {
                        var url = "/tag-" + item.ID + ".html";
                        <li>
                            <a href="@url">@item.Name</a>
                        </li>
                    }
                </ul>
            </div>           
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    <span class="block">
                        @Html.Raw(Model.footerVm.Content)
                    </span>
                                    
                </p>
            </div>
        </div>
    </div>
</footer>
