
@model DamvayShop.Web.Infrastructure.Core.PaginationClient<DamvayShop.Web.Models.ProductViewModel>
@{
    var ProductTag = (DamvayShop.Web.Models.TagViewModel)ViewBag.ProductTag;
    var pageIndex = Model.PageIndex;
    ViewBag.Title = pageIndex == 1 ? ProductTag.Name : ProductTag.Name + "-trang=" + pageIndex;
    ViewBag.MetaKeyword = pageIndex == 1 ? ProductTag.Name : ProductTag.Name + "-trang=" + pageIndex;
    ViewBag.MetaDiscription = pageIndex == 1 ? ProductTag.Name + "-thời trang nữ" : ProductTag.Name + "-thời trang nữ-trang=" + pageIndex;
    Layout = "~/Views/Shared/Layouts.cshtml";

}
<div id="all">
    <div id="content">
        <div class="container">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        <a href="/index.html">Home</a>
                    </li>
                    <li>@ProductTag.Name</li>
                </ul>
            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</div>
<div class="colorlib-shop">
    <div class="container">
        <div class="row">

                <div class="col-md-10 col-md-push-2">
                    <div class="row row-pb-lg">
                        @foreach (var item in Model.Items)
                        {
                            var url = "/" + item.Alias + ".p-" + item.ID + ".html";
                            <div class="col-md-4 text-center">
                                <div class="product-entry">
                                    <div class="product-img" style="background-image: url(@item.ThumbnailImage);">
                                        @if (item.PromotionPrice.HasValue == true)
                                        {
                                            <p class="tag"><span class="sale">Sale</span></p>
                                        }
                                        <div class="cart">
                                            <p>
                                                <span><a href="@url"><i class="icon-eye"></i>Xem</a></span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="desc">
                                        <h3><a href="@url">@item.Name</a></h3>
                                        @if (item.PromotionPrice.HasValue == true)
                                        {
                                            <p class="price"><span>@item.PromotionPrice</span> <span class="sale">@item.Price@item.Unit</span> </p>
                                        }
                                        else
                                        {
                                            <p class="price"><span>@item.Price@item.Unit</span> </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    @if (Model.TotalPage > 1)
                    {
                        var startPageIndex = Math.Max(1, Model.PageIndex - Model.PageDisplay / 2);
                        var endPageIndex = Math.Min(Model.TotalPage, Model.PageIndex + Model.PageDisplay / 2);
                        <div class="row">
                            <div class="col-md-12">
                                    <ul class="pagination">
                                        @if (Model.PageIndex > 1)
                                        {
                                            <li>
                                                <a href="?page=@(Model.PageIndex - 1)">&laquo;</a>
                                            </li>
                                        }

                                        @for (int i = startPageIndex; i <= endPageIndex; i++)
                                        {
                                            if (i == Model.PageIndex)
                                            {
                                                <li class="active">
                                                    <a href="?page=@i">@i</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <a href="?page=@i">@i</a>
                                                </li>
                                            }

                                        }

                                        @if (Model.PageIndex < Model.TotalPage)
                                        {
                                            <li>
                                                <a href="?page=@(Model.PageIndex + 1)">&raquo;</a>
                                            </li>
                                        }

                                    </ul>

                            </div>
                        </div>
                    }

                </div>
            
               
        </div>
    </div>
</div>



